@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url("/noise.png");
  background-size: 100px 100px;
  background-position: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
